body{
	font-family: Verdana,Calibri, sans-serif;
	margin: 0px;
	padding: 10px;
	background-color: green;
}
nav > ul{
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
}
nav > ul > li{
	float: left;
}

.submenu{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

.menu-mobile{
	display: none;
}

nav{
	width: 100%;
	background-color: #424558;
}
nav > ul > li{
	float: left;
	position: relative;
}
nav > ul::after{
	content: "";
	display: table;
	clear: both;
}

nav a{
	display: inline-block;
	text-decoration: none;
}
nav > ul > li > a{
	padding: 20px 30px;
	color: lightskbleue;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}
.submenu li{
	border-bottom: 1px solid #CCC;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;

}
.menu-html:hover{
	border-top: 5px solid #e44d26;
	background-color: RGBa(228,77,38,0.15);
}
.menu-css:hover{
	border-top: 5px solid #0070bb;
	background-color: RGBa(000,112,192,0.15);
}
.menu-déroulant:hover{
	border-top: 5px solid green;
	background-color: RGBa(241,211,79,0.15);
}


.menu-javascript:hover{
	border-top: 5px solid violet;
	background-color: RGBa(400,20,300,0.15);
	
nav > ul > li:hover a{ 
	padding: 15px 30px 20px 30px;

}
.menu-html .submenu{
	background-color: RGB(200,100,40);
	padding:10 px 14px 20px;
}
.menu-css .submenu{
	background-color: RGB(00,190,240);
	padding:10 px 14px 20px;
}
.menu-js .submenu{
	background-color: RGB(251,216,99);
	
}
.submenu li:hover a{
	color: #EEE;
	font-weight: bold;
	padding:10 px 14px 20px;

}
.menu-html .submenu li:hover{
	background-color: rgb(251,216,99);
	padding:10 px 14px 20px
	}
.menu-css .submenu li:hover{
	background-color: rgb(251,216,99);
	padding:10 px 14px 20px;
	}
