.page{border:10PX solid darkslateblue; 
	border-radius: 10px;
	box-shadow:2px 4px 3px solidred;
    margin: auto;
   height:10000PX;
   width: 9000PX;
   font-size: 10px;
   font-family: tahoma;
   padding: 5px;
color: darkblue;
}


.entete{border: 2PX solid orange;
border-radius: 10px;
	box-shadow:2px 4px 3px darkorange;
   color: darkblue;
   font-size: 28px;
   height: 90000px;
width:10000px

         padding: 10px;           }
   .infos{color: darkblue;
	border:2px solid red ;
	border-radius: 10px;
	box-shadow:2px 4px 3px darkorange;
    
   font-size: 28px;
  

}
.photos {
	
   
   
   float: right;

}
.formation {
	border:2px solid red ;
	border-radius: 10px;
	box-shadow:2px 4px 3px darkorange;
	color: darkblue;
    font-size: 10PX;
   
  

}
.experience{color: darkblue;
	border:2px solid red ;
	border-radius: 10px;
	box-shadow:2px 4px 3px darkorange;
	font-size: 10PX;
	

   
}



}
.experience{
	font-size:16px;
	margin: 0 0  5% 0;
	border-radius: 20px;
	border:2px solid red ;
	border:2px solid solid orange;
	
font-family:tahoma;
}
.langues{

	padding: 4px:
	height: 1000; width: 800px;
	color: darkblue;
	border-radius: 2px;

	border:2px solid orange ;
 
  

	border: 5px solid orange;
}
.interet{
	color: darkblue;
	padding: 4px:;
	
	border-radius: 2px;
	
   
   
border:2px solid orange;
]
