code
{
	background:#73bcec;
	color:#fff;
	font-family:verdana
	border:2px solid #060bfa;
    display: block;
text-align: center;
	}
p
{
font-size: 16px;
color:darkblue;
}

section
{  float:left;
   width:30%;
	height:400px;
	border:2px solid #060bfa;
	border-radius: 6px;
	background: darkgrey;
}

header,section
{
	margin :0 1.5% 24px 1.5%
}

footer
{

	clear:both;
}
