
div {
	border: 2px solid goldenrod;
    border-radius:6px  ;
background :yellowgreen ;
}

p 
	{
		border-radius:6px solid red;
 
	}


article
{
	border: 2px solid bleue;
border-radius:6px ;
text-align: ;
margin: ;
padding: ;
}
