.page{width: 780px;
	margin: auto;
	font-size: 16px;
	border: 5px solid; red;
	border-radius: 5px ;
	box-shadow: 2px 4px 3px darkorange;
	height: auto;
	padding: 1em;
color: darkblue;
}


.entete{border: 2PX solid orange;
border-radius: 10px;
	box-shadow:2px darkorange;
   color: darkbleue;
 
	
	
   height: 250px; width:100px 

         padding: 15px;   

	 
 
                   
}

.photo{float:right;
	right:500px
	
}
   .infos{color: darkblue;
	border:2px solid red ;
	border-radius: 5px ;
	box-shadow:2px 4px 3p darkorange;
	   float:left
		   height :800px ; width:800px;
		   width:300px;
    
   font-size: 10px;

}

.formation {
	border:2px solid red ;
	border-radius: 5px;
	box-shadow:2px 4px 3px darkorange;
	color: darkblue;
   
   
  

}
.experience{color: darkblue;
	border:2px solid red ;
	border-radius: 10px;
	box-shadow:2px 4px 3px darkorange;
	
	height: 200px; width: 400px;

   
}



}
.experience{
	
	
	border-radius: 20px;
	border:2px solid red ;

	

}
.langues{
	
	color: darkblue;
	border-radius: 2px;
border: 2px solid orange;
	

}
.interet{
	
	border-radius: 2px;

border: 2px solid orange;
	   
}
